POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_pass

DB_HOST=db
DB_PORT=5432

SECRET_KEY=supersecretkey
DEBUG=True
STRIPE_PUBLIC_KEY=pk_test_sasas
STRIPE_SECRET_KEY=sk_test_sasas
STRIPE_WEBHOOK_SECRET=sk_test_sasas