{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="container mt-5">
    <div class="card p-4">
        <h1>{{ item.name }}</h1>
        <p class="text-muted">{{ item.description }}</p>
        <h3 class="text-primary">Цена: {{ item.price }} {{ item.currency }} </h3>

        <button onclick="buyNow({{ item.id }}, '{{ item.currency }}')" class="btn btn-primary">
            Купить сейчас
        </button>

        <div id="payment-box" style="display:none; margin-top: 30px;" class="border-top pt-4">
            <div id="payment-element"></div>
            <button id="submit-pay" class="btn btn-warning w-100 mt-3">Подтвердить оплату</button>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    window.STRIPE_PUBLIC_KEY = "{{ STRIPE_PUBLIC_KEY }}";
    const currency = "{{ item.currency|lower }}";
</script>

<script src="{% static 'single_pay.js' %}"></script>
{% endblock %}