{% extends 'base.html' %}

{% block title %}Магазин{% endblock %}

{% block content %}
{% load static %}
{% csrf_token %}

<h2 class="text-dark fw-bold fs-1 mb-3 rounded-3">Товары</h2>
<div class="d-flex">
<div style="width: 60%" class="row">
    {% for item in items %}
    <div class="card m-1 p-2 d-flex justify-content-between" style="width: 16rem;">
        <a href="/item/{{ item.id }}/" class="text-decoration-none">
          <div class="card-body">
            <h5 class="card-title text-dark fw-bold">{{ item.name }}</h5>
              <hr>
            <p class="card-text" style="font-size: small">
                {{ item.description|truncatechars:150 }}
            </p>
              <hr>
              <h6 class="card-subtitle mb-2 text-body-secondary fw-bold fs-4">
                {{ item.price }} {{ item.currency }}
            </h6>
            </div>
        </a>
        <button class="btn btn-primary"
                onclick="addToCart({{ item.id }}, '{{ item.name|escapejs }}', {{ item.price }}, '{{ item.currency }}')">
            В корзину
        </button>
    </div>
    {% endfor %}
</div>
<div style="width: 40%">
<h2 class="fw-bold">Корзина</h2>
<div id="cart-items" class="mb-3">
    </div>
<div id="currency-selection" class="mt-4 mb-3 p-3 border rounded bg-light">
    <h5 class="fw-bold">Валюта оплаты:</h5>

    <div class="form-check form-check-inline">
        <input class="form-check-input currency-radio" type="radio" name="currency-selector" id="cur-usd" value="usd" checked>
        <label class="form-check-label" for="cur-usd">
            <span class="badge bg-primary">USD</span> Доллары
        </label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input currency-radio" type="radio" name="currency-selector" id="cur-eur" value="eur">
        <label class="form-check-label" for="cur-eur">
            <span class="badge bg-success">EUR</span> Евро
        </label>
    </div>
</div>
<div id="summary-section" style="display:none;" class="mb-4 card p-3 shadow-sm">
    <h4 class="fw-bold">
        Итого: <span id="total-price">0</span> <span id="display-currency">USD</span>
    </h4>
    <button class="btn btn-primary btn-lg w-100 mt-2" id="pay-btn" onclick="checkout()">
        Оплатить всё
    </button>
</div>

<div id="payment-box" style="display:none; margin-top: 20px;">
    <div id="payment-element"></div>
    <button class="btn btn-primary" id="submit-pay" style="margin-top:10px">
        Подтвердить оплату
    </button>
</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    window.STRIPE_PUBLIC_KEY = "{{ STRIPE_PUBLIC_KEY }}";
</script>

<script src="{% static 'shop.js' %}"></script>
{% endblock %}